<div>
    <div class="row book">
        <div class="col-3 col-md-3 d-none d-md-block"></div>
       <div class="col-12 col-md-6">
    <h3 class="d-flex justify-content-center display-5 bg-secondary text-white mt-5 p-4">Booking Search</h3>
    <hr>
    Booking Reference:
    <input type="number" class="form-control w-25" min=1 [(ngModel)]="bookingid">
    <hr>
    <div class="text-center">
        <button class="btn btn-success form-control w-25" (click)="getBooking()">Search</button>
    </div>
    <div>
        <span>
            <strong>
            {{"Flight Number: "+booking.flight.flightname}}
            <br>
            {{" "+booking.flight.from+" To "+booking.flight.to}}
            <br>
            {{"Fare Price:  "+booking.flight.fare}}
            <br>
            {{"Date: "}}{{booking.flight.date|date}}
            <br>
            {{"Name: "+booking.firstName+" "+booking.lastName}}
            <br>
            {{"Seat Number:" +booking.seatNumber}}
        </strong>
            </span>
    </div>
    <div class="col-3 col-md-3 d-none d-md-block"></div>
    </div>
</div>
