<div>
    <h2
      class="d-flex justify-content-center display-5 mt-2 bg-secondary text-white"
    >
      Available Flight
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Flight</th>
          <th>From</th>
          <th>To</th>
          <th>Date</th>
          <th>Fare</th>
          <th>Booking</th>
          <th>Change</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>SWIZZ2</td>
          <td>CHENNAI</td>
          <td>HYDERABAD</td>
          <td>2021-08-25</td>
          <td>600</td>
          <td>
            <button class="btn btn-primary">Book</button>
          </td>
          <td>
              <button class="btn btn-success">UPDATE</button>
            </td>
            <td>
              <button class="btn btn-danger">DELETE</button>
            </td>
        </tr>
      </tbody>
    </table>
  
    <div class="col-3 col-md-3 d-none d-md-block"></div>
  </div>